<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Evaluación final(bis)2 Iris Paredes</title>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <h1 class="title">El juego de las parejas</h1>
  <div class="container">
    <label for="sizeGame4">
      <input
        id="sizeGame4"
        type="radio"
        value="4"
        name="sizeGame"
      />
      4
    </label>
    <label for="sizeGame6">
        <input
          id="sizeGame6"
          type="radio"
          value="4"
          name="sizeGame"
        />
        6
    </label>
    <label for="sizeGame8">
        <input
          id="sizeGame8"
          type="radio"
          value="8"
          name="sizeGame"
        />
        8
    </label>
  </div>
  <button class="btn">Comenzar</button>
  <ul class="list"></ul>

  <div class="page">

  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
