<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Evaluación final(bis)2 Iris Paredes</title>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <header class="header">
    <h1 class="title">El juego de las parejas</h1>
  </header>
  <div class="container"></div>
    <nav class="nav">
        <label for="sizeGame4">
          <input class ="input"
            id="sizeGame4"
            type="radio"
            value="4"
            checked
            name="sizeGame"
        />
        <span>4</span>
        </label>
        <label for="sizeGame6">
          <input class ="input"
            id="sizeGame6"
            type="radio"
            value="6"
            name="sizeGame"
        />
        <span>6</span>
        </label>
        <label for="sizeGame8">
          <input class ="input"
            id="sizeGame8"
            type="radio"
            value="8"
            name="sizeGame"
        />
        <span>8</span>
        </label>
      <button class="btn">Comenzar</button>
    </nav>
  <main class="main">
    <ul class="list"></ul>
  </main>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
